<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./img/favicon.ico">
        <link rel="stylesheet" href="./css/custom.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <script src="./js/popper.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/jquery.min.js"></script>
        <title>Kaibigan</title>
    </head>
<body>
    <div class="bg-light d-flex flex-column min-vh-100 min-vw-100">
        <nav class="navbar sticky-top bg-dark mb-3">
            <div class="container-fluid d-flex">
                <a class="navbar-brand text-light" href="/">
                    <img src="./img/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> Kaibigan
                </a>
            </div>
        </nav>
        <div class="container">
            <h1>Work in progres... 👷🏻‍♂️</h1>
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex ms-2 align-items-center lh-1">
                    <i class="fa-brands fa-osi me-2 text-muted"></i>
                    <span class="text-muted">2023 <b>Kaibigan</b></span>
                </div>
                <div class="col-md-4 me-2 justify-content-end text-end lh-1">
                    <a href="https://github.com/mncz" class="text-muted align-baseline" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="mncz ✌️"><i class="fa-brands fa-github"></i></a>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>